@media screen and (min-width:1080px) {
    .SC {
        width: 100%;
    }

    .KB {
        width: 100%;
    }

    .MJ {
        width: 100%;
    }

    .KD {
        width: 100%;
    }

    .logo {
        width: 100px;
        height: 100px;
    }

    #container {
        width: 1024px;
        height: 1024px;
        padding: 0px;
        margin: 10px auto;
    }


    #header {
        height: 100px;
        width: 1024px;
        color: white;
        background-color: darkgray;
        font-size: 15px;
        text-align: center;
        line-height: 100px;
    }

    #main {
        width: 25%;
        height: 100%;
        color: white;
        background-color: gold;
        font-size: 18px;
        text-align: center;
        line-height: 1em;
        float: left;
    }

    #sidebar {
        width: 25%;
        height: 100%;
        color: gray;
        background-color: purple;
        font-size: 18px;
        text-align: center;
        line-height: 1em;
        float: left;
    }

    #sidebar1 {
        width: 25%;
        height: 100%;
        color: gray;
        background-color: red;
        font-size: 20px;
        text-align: center;
        line-height: 1em;
        float: left;
    }

    #sidebar2 {
        width: 25%;
        height: 100%;
        color: gray;
        background-color: blue;
        font-size: 18px;
        text-align: center;
        line-height: 1em;
        float: left;
    }

    #footer {
        height: 50px;
        width: 100%;
        color: white;
        background-color: darkgray;
        font-size: 24px;
        text-align: center;
        line-height: 50px;
        clear: both;
    }
}

@media screen and (min-width:481px) and (max-width:1079px) {
    .SC {
        width: 100%;
    }

    .KB {
        width: 100%;
    }

    .MJ {
        width: 100%;
    }

    .KD {
        width: 100%;
    }

    .logo {
        width: 100px;
        height: 50px;
    }

    #container {
        width: 800px;
        height: 1024px;
        padding: 0px;
        margin: 10px auto;
    }


    #header {
        height: 50px;
        color: white;
        background-color: darkgray;
        font-size: 20px;
        text-align: center;
        line-height: 50px;
    }

    #main {
        width: 50%;
        height: 100%;
        color: white;
        background-color: gold;
        font-size: 20px;
        text-align: center;
        line-height: 1em;
        float: left;
    }

    #sidebar {
        width: 50%;
        height: 100%;
        color: gray;
        background-color: purple;
        font-size: 20px;
        text-align: center;
        line-height: 1em;
        float: left;
    }

    #sidebar1 {
        width: 50%;
        height: 100%;
        color: gray;
        background-color: red;
        font-size: 20px;
        text-align: center;
        line-height: 1em;
        float: left;
    }

    #sidebar2 {
        width: 50%;
        height: 100%;
        color: gray;
        background-color: blue;
        font-size: 20px;
        text-align: center;
        line-height: 1em;
        float: left;
    }

    #footer {
        height: 50px;
        color: white;
        background-color: darkgray;
        font-size: 24px;
        text-align: center;
        line-height: 50px;
        clear: both;
    }
}
@media screen and (max-width:480px) {
    .SC {
        width: 100%;
    }

    .KB {
        width: 100%;
    }

    .MJ {
        width: 100%;
    }

    .KD {
        width: 100%;
    }

    .logo {
        width: 50px;
        height: 50px;
    }

    #container {
        padding: 0px;
        margin: 10px auto;
    }


    #header {
        height: 50px;
        color: white;
        background-color: darkgray;
        font-size: 20px;
        text-align: center;
        line-height: 50px;
    }

    #main {
        height: 100%;
        color: white;
        background-color: gold;
        font-size: 20px;
        text-align: center;
        line-height: 1em;
        float: left;
    }

    #sidebar {
        height: 100%;
        color: gray;
        background-color: purple;
        font-size: 20px;
        text-align: center;
        line-height: 1em;
        float: left;
    }

    #sidebar1 {
        height: 100%;
        color: gray;
        background-color: red;
        font-size: 20px;
        text-align: center;
        line-height: 1em;
        float: left;
    }

    #sidebar2 {
        height: 100%;
        color: gray;
        background-color: blue;
        font-size: 20px;
        text-align: center;
        line-height: 1em;
        float: left;
    }

    #footer {
        height: 50px;
        color: white;
        background-color: darkgray;
        font-size: 24px;
        text-align: center;
        line-height: 50px;
        clear: both;
    }
}